@charset "utf-8";

body,ul,li{ margin:0; padding:0; list-style:none; }

#wrap{ overflow:hidden; }

li{ 
   background: rgba(0,0,0,0.1);
   font-size:80px; color:#fff;
}
li:nth-child(1){ background:url(images/img1.jpg) center top/cover; }
li:nth-child(2){ background:url(images/img2.jpg) center top/cover; }
li:nth-child(3){ background:url(images/img3.jpg) center top/cover; }